# This is a hand made script. Changing values here won't help, because the
# order of the questions might change...
#
# Yeah, this *is* gross... Tell this to PHP/FI authors :-)
#
#
#
# Do you have mSQL installed on this system? [yN]
N
# Do you have Sybase libraries installed on this system [yN]
N
# Do you have Postgres installed in this system? [yN]
N
# Do you have mysql installed on this system? [yN]
N
# Do you have Adabas installed in this system? [yN]
N
# Do you have Solid installed in this system? [yN]
N
# Do you have Oracle installed in this system? [yN]
N
# Do you have filePro installed in this system? [yN]
N
# Do you have ODBC installed in this system? [yN]
N
# Would you like to compile PHP/FI as an Apache module? [yN]
Y
# Are you compiling for an Apache 1.1 or later server? [Yn]
Y
# Are you using Apache-Stronghold? [yN]
Y
# Does your Apache server support ELF dynamic loading? [yN]
Y
# Apache source directory (which has httpd.h)? [/usr/local/etc/httpd/src]
/usr/include/apache
# Would you like to include access control support? [yN]
N
# Would you like to include page logging support? [Yn]
N
# Would you like to include file upload support? [Yn]
N
# Would you like to build an ELF shared library? [yN]
N
# Additional directories to search for .h files []:
/usr/include/apache /usr/include/ssl
# Additional directories to search for library files []:
/usr/include/apache
# Would you like the bundled regex library? [yN]
N
